
@font-face {
    font-family: 'Faculty Glyphic';
    src: url('Faculty_Glyphic/Faculty-Glyphic-Regular.ttf') format('truetype');
}

body {
    font-family: 'Faculty Glyphic', sans-serif;
    background-color: #080808;
    color: #f3eeee;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 20px;
    
}


h1 {
    color: #fff;
    font-size: 2.5em;
    text-align: center;
}


h2 {
    color: #eee8e8;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
    
}


fieldset {
    border: 2px solid #0a0db6;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    background-color: #f5eeee;
}


ul {
    color: #0e0707;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    color: #0a0a0a;
}

a {
    color: #1e90ff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    color: #00bfff;
    text-decoration: underline;
}
